@media(width >= 768px){
    .map-for-mobile,.map-for-des{
        display: none;
    }

    .map-for-tablet{
        display: block;
    }

    .back-to-home{
        margin-left: 40px;
    }

    .our-location-title{
        width: 223px;
    }

    main{
        display: flex;
        flex-direction: row;
        height: 436px;
        width: 768px;
        padding-top: 88px;
        padding-left: 39px;
        column-gap: 68px;
    }

    .container{
        margin-top: 2px;
    }

    footer{
        display: flex;
        flex-direction: row;
        column-gap: 99px;
        padding-top: 56px;
        padding-left: 39px;
        width: 768px;
        height: 216px;
    }
}

@media(width >= 1440px){
    .map-for-mobile,.map-for-tablet{
        display: none;
    }

    .map-for-des{
        display: block;
    }

    .back-to-home{
        margin-left: 156px;
    }

    main{
        display: flex;
        flex-direction: row;
        height: 548px;
        width: 1440px;
        padding-top: 104px;
        padding-left: 165px;
        column-gap: 420px;
    }

    footer{
        padding-top: 80px;
        padding-left: 165px;
        display: flex;
        flex-direction: row;
        width: 1440px;
        height: 244px;
        column-gap: 400px;
    }

    .modern-gallery-text{
        margin-left: -150px;
    }
}